<div>
  <div class="header">
    <h2>Dashboard</h2>
    <app-widget-form (widgetFormData)="addWidget($event)"></app-widget-form>
  </div>
  <div class="widget-container">
    @for (widget of widgets; track widget.id) {
      <div class="widget">
        <button type="button" (click)="clickOption()">
          <img src="three-dots.svg" alt="three-dots" />
        </button>
        @if (isOptionClicked) {
          <div class="options">
            <button type="button">Preview</button>
            <button type="button">Edit</button>
            <button type="button">Delete</button>
          </div>
        }
        @if (widget.chartType == chartTypes.PIE) {
          <app-pie-chart
            [title]="widget.title"
            [labels]="widget.labels"
            [datasets]="widget.datasets"
          ></app-pie-chart>
        } @else if (widget.chartType == chartTypes.LINE) {
          <app-line-chart
            [title]="widget.title"
            [labels]="widget.labels"
            [datasets]="widget.datasets"
          ></app-line-chart>
        }
      </div>
    }
  </div>
</div>
