.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > h2 {
  margin: 0;
}

.widget-container {
  min-height: 680px;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
  border: 1px solid #4b4b4b;
  border-radius: 4px;
}

.widget {
  max-width: 370px;
  max-height: 400px;
  display: inline;
  margin-top: 6px;
  margin-left: 6px;
  padding-bottom: 6px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}
