<div class="overlay-style">
  <div class="popup-style">
    <div class="popup-header">
      <div>New Widget</div>
      <div>
        <button type="button" class="button-close" (click)="closeWidgetForm()">
          &#10006;
        </button>
      </div>
    </div>
    <div class="popup-body">
      <div class="widget-container">
        @if (widget) {
          <app-chart [widget]="widget"></app-chart>
        }
      </div>
      <div class="form-container">
        <div class="form-section">
          <label for="select-widget" class="form-label">Select Widget:</label>
          <select
            id="select-widget"
            class="form-select"
            [(ngModel)]="widget.chartType"
          >
            @for (chartType of chartTypes; track chartType.id) {
              <option [value]="chartType.value">
                {{ chartType.label }}
              </option>
            }
          </select>
        </div>

        <div class="form-section">
          <label for="widget-title" class="form-label">Title:</label>
          <input
            type="text"
            id="widget-title"
            class="form-input"
            [(ngModel)]="widget.title"
          />
        </div>

        <div>
          <input
            type="radio"
            id="static-data"
            name="data-preference"
            value="static"
            [(ngModel)]="dataPreference"
          />
          <label for="static-data">Static Data</label>
          <input
            type="radio"
            id="file-data"
            name="data-preference"
            value="file"
            [(ngModel)]="dataPreference"
          />
          <label for="file-data">File Data</label>
        </div>

        @switch (dataPreference) {
          @case ("static") {
            <div class="static-field-container">
              @for (cd of customData; track cd.id; let i = $index) {
                <div class="static-fields">
                  <div>
                    <label [for]="'label-' + (i + 1)">Label {{ i + 1 }}:</label>
                    <input
                      type="text"
                      [id]="'label-' + (i + 1)"
                      class="static-field"
                      [(ngModel)]="cd.label"
                      (input)="changeLabel()"
                    />
                  </div>
                  <div>
                    <label [for]="'data-' + (i + 1)">Data {{ i + 1 }}:</label>
                    <input
                      type="text"
                      [id]="'data-' + (i + 1)"
                      class="static-field"
                      [(ngModel)]="cd.data"
                      (input)="changeData()"
                    />
                  </div>
                  @if (customData.length > 1) {
                    <button type="button" (click)="deleteCustomDataField(i)">
                      &#10060;
                    </button>
                  }
                </div>
              }
              <button type="button" (click)="addCustomDataField()">
                <img src="plus-circle.svg" alt="plus-circle" />
              </button>
            </div>
          }
          @case ("file") {
            <div class="form-section">
              <label for="select-widget" class="form-label">Select File:</label>
              <select
                id="select-widget"
                class="form-select"
                [(ngModel)]="filename"
              >
                <option value="file">file</option>
              </select>
            </div>
          }
        }

        <div class="form-buttons-container">
          <button class="button-cancel" (click)="closeWidgetForm()">
            Cancel
          </button>
          <button class="button-primary" (click)="addWidget()">
            {{ widget.id ? "Edit" : "Add" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
