.overlay-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-style {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.popup-style > div:first-child {
  font-size: 1.25rem;
  font-weight: bold;
}

.static-field-container > button {
  margin-top: 6px;
  padding: 0;
  border-width: 0;
  border-color: transparent;
  background-color: transparent;
}

.static-fields {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.static-fields label {
  color: #555;
}

.static-fields button {
  cursor: pointer;
  align-self: center;
  color: #333;
  padding: 0;
  margin-top: 0.6rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}

.static-field {
  width: 70%;
  color: #444;
  padding: 0.5rem;
  border: 1px solid #a9a8a8;
  border-radius: 4px;
}

.form-section {
  margin-top: 1rem;
}

.form-label {
  color: #555;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.form-input,
.form-select {
  color: #444;
  padding: 0.5rem;
  border: 1px solid #a9a8a8;
  border-radius: 4px;
}

.form-input {
  width: 94%;
}

.form-select {
  width: 100%;
  background-color: white;
}

.form-buttons-container {
  float: right;
  margin-top: 1rem;
}
